DATABASE_URL=postgresql://sentri_user:sentri_pass@localhost:5432/sentri_db
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RAW=sentri.transactions.raw
KAFKA_TOPIC_SCORED=sentri.transactions.scored
KAFKA_TOPIC_ALERTS=sentri.alerts.fraud
JWT_SECRET_KEY=sentri-super-secret-key-change-in-prod-64chars
JWT_ALGORITHM=HS256
MODEL_PATH=./models/
ENV=development